/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --font-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
        --font-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
        --font-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
        --font-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
        --font-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
        --font-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
        --font-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    }
}

/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --font-sm: 0.8rem;
        --font-base: 1rem;
        --font-md: 1.25rem;
        --font-lg: 1.56rem;
        --font-xl: 1.95rem;
        --font-xxl: 2.44rem;
        --font-xxxl: 3.05rem;
    }

    @media screen and (min-width: 1280px) {
        :root {
            --font-sm: 0.89rem;
            --font-base: 1.19rem;
            --font-md: 1.58rem;
            --font-lg: 2.11rem;
            --font-xl: 2.81rem;
            --font-xxl: 3.75rem;
            --font-xxxl: 5rem;
        }
    }
}

#menu {
    display: none;
}

.header .header-buttons {
    display: none;
}

.header-buttons {
    margin-inline: auto;
}

.header {
    grid-template-columns: 2fr 1fr;
}

#landing {
    grid-template-columns: 1fr;
}

#landing img {
    width: 80vw;
}

#landing > div > h1 {
    font-size: var(--font-xxl);
}

#landing > div > p {
    font-size: var(--font-md);
}

.carosello-libri {
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    gap: 0.5em;
}

.libro {
    padding: 0;
}

#citazione {
    padding: 3em;
}

#citazione > blockquote {
    font-size: var(--font-md);
}

#citazione > p {
    font-size: var(--font-md);
}

footer {
    padding: 2em;
}

footer .logo p {
    font-size: var(--font-md);
}

#unipd,
#nomi {
    font-size: var(--font-sm);
}

/* ACCEDI */
/*#accedi {*/
/*    padding-left: 2em;*/
/*    padding-right: 2em;*/
/*}*/

/* HAMBURGERINO:) */

#hamburger {
    display: inline-flex;
    padding: 1em;
    border-radius: 1em;
    justify-self: end;
}

#hamburger > span {
    display: none;
}

#hamburger > span.active {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hamburger-icon {
    width: 2em;
    height: 2em;
    filter: var(--svg-invert);
}

#hamburger-menu {
    display: none;
    user-select: none;
}

#hamburger-menu.active {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 2em;
    gap: 2em;
    /* margin: 1em; */
}

#hamburger-menu.active ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: auto auto;
}

#hamburger-menu.active ul li {
    text-align: center;
    color: var(--text);
}

#hamburger-menu.active ul li a {
    text-decoration: none;
    color: var(--text);
}

#hamburger-menu.active ul li a:hover {
    text-decoration: underline;
}

#hamburger-menu.active ul > * + * {
    margin-top: 1em;
}

/* come funziona */
#come-funziona > div > div {
    display: flex;
    flex-direction: column;
}

#come-funziona > div > h1 {
    font-size: var(--font-xl);
}

#come-funziona h1,
#come-funziona p {
    justify-self: center;
}

#come-funziona > div > div > p {
    margin: 0;
    padding: 1.5em;
    font-size: var(--font-base);
}

#come-funziona > div > div > img {
    border-radius: 1em;
    width: 22vw;
    max-width: 23em;
    overflow: hidden;
    mask-image: url('./assets/imgs/blob-mask3.svg');
    justify-self: center;
    padding-bottom: 0;
    margin-right: 2em;
}

#perche-farlo > div > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 0em;
}

#perche-farlo > div > h2 {
    font-size: var(--font-xl);
}

#step > div > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    padding: 0em;
    margin: 2em;
}

#step > div > h2 {
    font-size: var(--font-xl);
}

#inizia > h3 {
    font-size: var(--font-lg);
}

#aggiungi-libro-dialog {
    margin-inline: 1em;
    width: auto;
}

/* LIBRI OFFERTI */
.dialog-window {
    width: auto;
    min-width: 80%;
}

.search-results-row {
    gap: 0.5em;
    padding: 0.5em;
    overflow: hidden;
}

.book-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.book-info {
    grid-column-start: span 2;
    justify-self: center;
}

.book-buttons, .book-copy-info {
    justify-self: center;
}

.book-copy-info > p {
    max-width: 10em;
}

.section-container {
    padding: 2em;
}

.book-row > .book-info {
    padding-left: 1em;
}

/* PRFILO */
.dati-profilo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

.dati-profilo > div > h2,
.dati-profilo > div > p {
    text-align: center;
}

.dati-profilo > img {
    width: 100%;
    max-width: 7em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.user-rating {
    align-self: center;
    gap: 0.5em;
}

/* LIBRO */

.libro-panoramica {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
}

.libro-panoramica > div {
    text-align: center;
}

.storico-row {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
}

.storico-books {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    gap: 0.5em;
}

.storico-dai, .storico-ricevi {
    display: flex;
    flex-direction: column;
    gap: 0em;
    max-width: 8em;
}

.storico-dai > div, .storico-ricevi > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.storico-dai p, .storico-ricevi p {
    text-align: center;
}

.storico-dai > div,
.storico-ricevi > div,
.storico-utente-scambio > div,
.storico-buttons {
    align-items: center;
    justify-items: center;
}

.buttons-profilo {
    align-items: center;
}

#description-text {
    padding: 1em;
    text-align: justify;
}