<script src="../js/accediValidator.js" type="module"></script>
<section id="login-section">
	<div class="login center">
		<h1 class="center">Accedi</h1>
		<p class="center">
			Non hai un <span lang="en">account</span>?
			<a href="/registrati">Registrati</a>
		</p>
		<div class="display-error">
			<!-- [displayError] -->
		</div>
		<form id="accedi" method="post" onsubmit="">
			<fieldset class="login-data">
				<legend class="sr-only">
					Inserire i dati per il <span lang="en">login</span>
				</legend>
				<div>
					<label class="" for="identifier"><span lang="en">Username</span> o <span
							lang="en">Email</span></label>
					<input
							id="identifier"
							name="identifier"
							required
							type="text"/>
				</div>
				<div>
					<label class="" for="password" lang="en">Password</label>
					<input
							id="password"
							name="password"
							required
							type="password"/>
				</div>
				<input class="button-layout" type="submit" value="Accedi"/>
			</fieldset>
		</form>
	</div>
</section>