<section id="come-funziona">
	<div class="sezione-stretta">
		<h1 class="serif text-center">Come funziona</h1>
		<div>
			<p>
				<span lang="en" class="bold">BookOverflow</span> è un servizio
				di scambio libri che ti consente di ottenere gratuitamente i
				libri che desideri, in cambio di quelli che non leggi più.
			</p>
			<picture>
				<source
					srcset="<!-- [prefix] -->/assets/imgs/toa-caldo.avif"
					type="image/avif" />
				<img
					alt="Book exchange service"
					src="<!-- [prefix] -->/assets/imgs/toa-caldo.jpg"
					width="180" />
			</picture>
		</div>
	</div>
</section>
<section id="perche-farlo">
	<div class="sezione-stretta">
		<h2 class="serif text-center">Perchè dovresti farne parte anche tu?</h2>
		<div>
			<div>
				<h3 class="motivo1 text-center">Economico</h3>
				<p>
					Scambiando i tuoi libri, risparmi denaro ed eviti che la tua
					libreria vada in
					<span class="italic bold" lang="en"> overflow</span>...
					senza rinunciare a nuove letture.
				</p>
			</div>
			<div>
				<h3 class="motivo2 text-center">Sostenibile</h3>
				<p>
					Scambiare i libri è un'ottima pratica per ridurre l'utilizzo
					di carta e contribuire alla tutela degli alberi.
				</p>
			</div>
		</div>
	</div>
</section>
<section id="step">
	<div class="sezione-stretta">
		<h2 class="serif text-center">Step da seguire</h2>
		<div>
			<div>
				<h3 class="serif text-center">
					1. La tua libreria <span aria-hidden="true">📚️</span>
				</h3>
				<p>
					Crea la tua libreria personale inserendo i libri che sei
					disposto a scambiare
				</p>
			</div>

			<div>
				<h3 class="serif text-center">
					2. I tuoi desideri <span aria-hidden="true">💭</span>
				</h3>
				<p>
					Cerca e aggiungi i libri che desideri leggere, esplora tutti
					i possibili libri che potresti ricevere e invia richieste di
					scambio.
				</p>
			</div>

			<div>
				<h3 class="serif text-center">
					3. Spedisci e ricevi! <span aria-hidden="true">📦️</span>
				</h3>
				<p>
					Contatta via mail e concorda i dettagli dello scambio.
					Impacchetta il libro che possiedi e spediscilo al suo nuovo
					proprietario. Attendi che il tuo nuovo libro arrivi a casa
					tua!
				</p>
			</div>
		</div>
	</div>
</section>
<section id="inizia">
	<div class="sezione-stretta">
		<p class="serif text-center">
			Tutto questo è favoloso...quindi cosa aspetti?
		</p>

		<a
			class="button-layout call-to-action center"
			href="<!-- [prefix] -->/registrati">
			Registrati subito
		</a>
	</div>
</section>
