<section id="come-funziona">
	<div>
		<h1>Ecco come funziona...</h1>
		<div>
			<p>
				<span lang="en">BookOverflow</span> è un servizio di scambio
				libri che ti consente di ottenere gratuitamente i libri che
				desideri, in cambio di quelli che non leggi più.
			</p>
			<picture>
				<source srcset="<!-- [prefix] -->/assets/imgs/toa-caldo.avif" type="image/avif">
				<img alt="Book exchange service" src="<!-- [prefix] -->/assets/imgs/toa-caldo.jpg" width="180" />
			</picture>
		</div>
	</div>
</section>
<section id="perche-farlo">
	<div>
		<h2>Perchè dovresti farlo anche tu?</h2>
		<div>
			<div>
				<h3 class="motivo1">Economico</h3>
				<p>
					Scambiando i tuoi libri, risparmi denaro ed eviti che la tua
					libreria vada in
					<span class="italic bold" lang="en"> overflow</span>...
					senza rinunciare a nuove letture.
				</p>
			</div>
			<div>
				<h3 class="motivo2">Sostenibile</h3>
				<p>
					Scambiare i libri è un'ottima pratica per ridurre l'utilizzo
					di carta e contribuire alla tutela degli alberi.
				</p>
			</div>
		</div>
	</div>
</section>
<section id="step">
	<div>
		<h2>Step da seguire</h2>
		<div>
			<div>
				<h3>1. La tua libreria</h3>
				<p>
					<!-- TODO: modificare se non viene gestita la disponibilità  -->
					Crea la tua libreria personale inserendo i libri che sei
					disposto a scambiare; puoi anche aggiungere i tuoi libri
					segnalando che non sono disponibili per lo scambio ed
					eventualmente variare le tue preferenze in futuro.
				</p>
			</div>

			<div>
				<h3>2. I tuoi desideri</h3>
				<p>
					Inserisci i libri che desideri leggere nella lista apposita, oppure scegli i tuoi generi preferiti.
				</p>
				<p>
					Controlla se ci sono utenti che lo scambiano e che sono
					interessati ad un tuo libro e inviagli una richiesta di
					scambio.
				</p>
			</div>

			<div>
				<h3>3. Spedisci e ricevi!</h3>
				<p>
					Impacchetta il libro che possiedi e spediscilo al suo nuovo
					proprietario. Non ti resta che aspettare che il tuo nuovo
					libro arrivi a casa tua!
				</p>
			</div>
		</div>
	</div>
</section>
<section id="inizia">
	<div>
		<h3>È favoloso... quindi cosa aspetti?</h3>

		<a class="button-layout" href="<!-- [prefix] -->/accedi"> Inizia subito </a>
	</div>
</section>
