<h1 class="text-center">Esplora</h1>
<section>
	<article class="sezione-stretta">
		<div class="intestazione">
			<h2>Match per te</h2>
			<a
				aria-label="Mostra tutti i match per te"
				href="<!-- [prefix] -->/esplora/per-te"
				>Mostra tutti</a
			>
		</div>
		<div class="carosello-libri">
			<!-- [matchPerTe] -->
		</div>
	</article>
</section>
<section>
	<article class="sezione-stretta">
		<div class="intestazione">
			<h2>Potrebbe piacerti anche</h2>
			<a
				aria-label="Mostra tutti i potrebbe piacerti"
				href="<!-- [prefix] -->/esplora/potrebbe-piacerti"
				>Mostra tutti</a
			>
		</div>
		<div class="carosello-libri">
			<!-- [matchPotrebbePiacerti] -->
		</div>
	</article>
</section>
