<h1 class="center-text">Esplora</h1>
<section>
	<article class="sezione-libri">
		<div class="intestazione">
			<h2>Match per te</h2>
			<a href="">Mostra tutti</a>
		</div>
		<div class="carosello-libri">
			<!-- [mostTraded] -->
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
		</div>
	</article>
</section>
<section>
	<article class="sezione-libri">
		<div class="intestazione">
			<h2>Potrebbe piacerti anche</h2>
			<a href="">Mostra tutti</a>
		</div>
		<div class="carosello-libri">
			<!-- [mostTraded] -->
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="/assets/imgs/artedicorrere.avif"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
		</div>
	</article>
</section>
