<h1 class="center-text">Esplora</h1>
<section>
    <article class="sezione-libri">
        <div class="intestazione">
            <h2>Match per te</h2>
            <a href="">Mostra tutti</a>
        </div>
        <div class="carosello-libri">
            <!-- [matchPerTe] -->
        </div>
    </article>
</section>
<section>
    <article class="sezione-libri">
        <div class="intestazione">
            <h2>Potrebbe piacerti anche</h2>
            <a href="">Mostra tutti</a>
        </div>
        <div class="carosello-libri">
            <!-- [matchPotrebbePiacerti] -->
        </div>
    </article>
</section>
