<footer>
	<div id="pre-footer">
		<section id="quote" class="serif">
			<blockquote class="italic">
				I libri sono l’alimento della giovinezza e la gioia della
				vecchiaia
			</blockquote>
			<p>Marco Tullio Cicerone</p>
		</section>
		<section id="listf">
			<p class="bold">ABOUT</p>
			<ul role="list">
				<!-- [aboutlinkfooter] -->
			</ul>
		</section>

		<section id="listf">
			<p class="bold">GET STARTED</p>
			<ul role="list">
				<!-- [startlinkfooter] -->
			</ul>
		</section>
	</div>
	<div class="logo">
		<picture>
			<source
				srcset="<!-- [prefix] -->/assets/imgs/logo.avif"
				type="image/avif" />
			<img
				alt=""
				src="<!-- [prefix] -->/assets/imgs/logo.png"
				width="30" />
		</picture>
		<p lang="en">
			<span class="bold">Book</span><span class="italic">Overflow</span>
		</p>
	</div>
	<p id="unipd">
		Sito web progettato e sviluppato per l'esame di Tecnologie Web
		dell'Università degli Studi di Padova.
	</p>
	<p id="nomi">
		@Aleena Mathew @Alessandro Bernardello @Luca Ribon @Matteo Bazzan
	</p>
</footer>
