<footer>
	<div class="text-center">
		<a
			href="#contenuto"
			class="text-center scroll-to-top">
			<span class="sr-only">Torna all'inizio del contenuto</span>
			<span aria-hidden="true"><img src="<!-- [prefix] -->/assets/imgs/arrow-up.svg" alt=""/></span>
		</a>
	</div>
	<div class="nav-footer">
		<nav aria-label="Menù di navigazione footer">
			<h3 class="bold">Naviga</h3>
			<ul>
				<!-- [aboutlinkfooter] -->
			</ul>
		</nav>
		<nav aria-label="Menù del profilo">
			<h3 class="bold">Profilo</h3>
			<ul>
				<!-- [startlinkfooter] -->
			</ul>
		</nav>
	</div>
	<div class="logo">
		<picture>
			<source
				srcset="<!-- [prefix] -->/assets/imgs/logo.avif"
				type="image/avif" />
			<img
				alt=""
				src="<!-- [prefix] -->/assets/imgs/logo.png"
				width="30" />
		</picture>
		<p lang="en">
			<span class="bold">Book</span><span class="italic">Overflow</span>
		</p>
	</div>

	<p class="disclaimer text-center center italic">
		Le informazioni e le immagini delle copertine dei libri presenti su
		questo sito sono fornite tramite le
		<abbr lang="en" title="Application Programming Interface">API</abbr> di
		<a href="https://developers.google.com/books" class="external-link"
			><span lang="en">Google Books</span></a
		>. Tutti i diritti sui contenuti appartengono ai rispettivi proprietari.
		Questo sito non rivendica alcuna proprietà intellettuale su tali
		materiali.
	</p>
</footer>
