<header>
	<div class="header-container">
		<div class="header">
			<div class="logo">
				<picture>
					<source srcset="<!-- [prefix] -->/assets/imgs/logo.avif" type="image/avif">
					<img alt="" src="<!-- [prefix] -->/assets/imgs/logo.png" width="30">
				</picture>
				<h1 lang="en">
					<span class="bold">Book</span
					><span class="italic">Overflow</span>
				</h1>
			</div>
			<nav id="menu" aria-label="Menù di navigazione">
				<ul>
					<!-- [navbar] -->
				</ul>
			</nav>
			<!-- [header-buttons] -->
			<!-- [hamburger-button] -->
		</div>
		<nav id="hamburger-menu" aria-label="Menù di navigazione mobile">
			<ul>
				<!-- [navbar] -->
			</ul>
			<!-- [header-buttons] -->
		</nav>
	</div>
</header>
<script src="<!-- [prefix] -->/js/hamburgerMenu.js"></script>
