<header>
	<div class="header-container">
		<div class="header">
			<div class="logo">
				<img alt="" src="../assets/imgs/logo.png" width="40" />
				<h1 lang="en">
					<span class="bold">Book</span
					><span class="italic">Overflow</span>
				</h1>
			</div>
			<nav id="menu">
				<ul>
					<!-- [navbar] -->
				</ul>
			</nav>
			<div class="header-buttons">
				<a class="button-layout" href="/accedi">Accedi</a>
				<button id="theme-toggle">
					<div id="theme-icon"></div>
				</button>
			</div>
			<button id="hamburger">
				<div id="hamburger-icon"></div>
			</button>
		</div>
		<nav id="hamburger-menu">
			<ul>
				<!-- [navbar] -->
			</ul>
			<a class="button-layout" href="/accedi">Accedi</a>
		</nav>
	</div>
</header>
<script src="/js/hamburgerMenu.js"></script>
