<header>
	<div class="header-container">
		<div class="header">
			<div class="logo">
				<img alt="" src="/assets/imgs/logo.png" width="40" />
				<h1 lang="en">
					<span class="bold">Book</span
					><span class="italic">Overflow</span>
				</h1>
			</div>
			<nav id="menu">
				<ul>
					<!-- [navbar] -->
				</ul>
			</nav>
			<!-- [header-buttons] -->
			<!-- [hamburger-button] -->
		</div>
		<nav id="hamburger-menu">
			<ul>
				<!-- [navbar] -->
			</ul>
			<!-- [header-buttons] -->
		</nav>
	</div>
</header>
<script src="/js/hamburgerMenu.js"></script>
