<section id="landing">
	<div>
		<h1>Un nuovo capitolo per i tuoi libri</h1>
		<p>La prima piattaforma di scambi di libri gratuita e accessibile</p>
		<a class="button-layout" href="/accedi">Inizia</a>
	</div>
	<img alt="" src="../assets/imgs/jaredd-square.png" />
</section>
<section id="piu-scambiati">
	<article>
		<div class="intestazione">
			<h2>I libri più scambiati</h2>
			<a href="">Mostra tutti</a>
		</div>
		<div class="carosello-libri">
			<!-- [mostTraded] -->

			<div class="libro">
				<img
					alt=""
					src="../assets/imgs/artedicorrere.png"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="../assets/imgs/artedicorrere.png"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="../assets/imgs/artedicorrere.png"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
			<div class="libro">
				<img
					alt=""
					src="../assets/imgs/artedicorrere.png"
					width="150" />
				<p class="titolo-libro">L'arte di correre</p>
				<p class="autore-libro">Haruki Murakami</p>
			</div>
		</div>
	</article>
</section>
<section class="serif" id="citazione">
	<blockquote>
		Penso che un libro abbia un’esistenza propria e non debba essere
		condannato a restare immobile su uno scaffale. Lasciamo che i libri
		viaggino e che altre mani li tocchino.
	</blockquote>
	<p lang="pt">Paulo Coelho</p>
</section>