<section id="landing">
	<div>
		<h1>Un nuovo capitolo per i tuoi libri</h1>
		<p>La prima piattaforma di scambi di libri gratuita e accessibile</p>
		<a class="button-layout" href="<!-- [prefix] -->/accedi">Inizia</a>
	</div>
	<picture>
		<source srcset="<!-- [prefix] -->/assets/imgs/jaredd-square.avif" type="image/avif">
		<img alt="" src="<!-- [prefix] -->/assets/imgs/jaredd-square.png"/>
	</picture>
</section>
<section id="piu-scambiati">
	<article>
		<div class="intestazione">
			<h2>Libri più scambiati</h2>
			<a aria-label="Mostra tutti i libri più scambiati" href="<!-- [prefix] -->/piu-scambiati">Mostra tutti</a>
		</div>
		<div class="carosello-libri">
			<!-- [piuScambiati] -->
		</div>
	</article>
</section>
<section class="serif" id="citazione">
	<blockquote>
		Penso che un libro abbia un’esistenza propria e non debba essere
		condannato a restare immobile su uno scaffale. Lasciamo che i libri
		viaggino e che altre mani li tocchino.
	</blockquote>
	<p lang="pt">Paulo Coelho</p>
</section>