<section class="section-container">
	<div class="display-error">
		<!-- [displayError] -->
	</div>
	<div class="intestazione">
		<h2><!-- [titoloIntestazione] --></h2>
		<!-- [aggiungiLibroButton] -->
	</div>
	<div class="book-table <!-- [tipoLista] -->">
		<!-- [listaLibri] -->
	</div>
</section>
<section class="sezione-stretta">
	<div id="inizia-esplorare">
		<a class="button-layout-light" href="<!-- [prefix] -->/profilo"
			>Torna al profilo</a
		>
	</div>
</section>

<!-- [cercaLibriDialog] -->
<script src="<!-- [prefix] -->/js/cercaLibri.js"></script>
