<section class="libro-panoramica center">
    <img alt="" src="<!-- [pathCopertinaLibro] -->" width="200">
    <div>
        <p><!-- [numUtentiInteressati] --></p>
        <h1><!-- [titoloLibro] --></h1>
        <p class="italic"><!-- [autoreLibro] --></p>
        <h2>Descrizione</h2>
        <p><!-- [descrizioneLibro] --></p>
        <h2>Dettagli</h2>
        <p><span class="bold">Genere: </span><!-- [genereLibro] --></p>
        <p><span class="bold">ISBN: </span><!-- [isbnLibro] --></p>
        <p><span class="bold">Editore: </span><!-- [editoreLibro] --></p>
        <p><span class="bold">Anno di pubblicazione: </span><!-- [annoLibro] --></p>
    </div>
</section>
<section class="sezione-scambi">
    <h2>Scambialo con</h2>

    <div class="scambi"> <!-- pannello con tutti i possibili scambi -->
        <!-- [scambiPossibili] -->
    </div>
</section>