<section class="dati-profilo">
	<h2 class="center">Area amministratore</h2>
	<div class="buttons-profilo">
		<!-- [scambiButton] -->
		<!-- [logoutButton] -->
	</div>
</section>
<div class="display-error">
	<!-- [displayError] -->
</div>
<section class="sezione-stretta" id="opzioni-admin">
	<a
		class="text-center"
		href="<!-- [prefix] -->/profilo/admin/gestione-utenti">
		<img src="<!-- [prefix] -->/assets/imgs/users.svg" alt="" />
		<p>Gestione utenti</p>
	</a>
	<form action="<!-- [prefix] -->/api/logout" method="POST" class="center">
		<button
			type="submit"
			class="button-layout secondary logout"
			aria-label="Esci dal tuo profilo">
			Esci
		</button>
	</form>
</section>
