<section id="signin-section">
	<div class="signin center">
		<h1 class="center">Modifica i dati dell'account</h1>

		<div class="display-error">
			<!-- [displayError] -->
		</div>
		<form
			action="<!-- [prefix] -->/api/modifica-utente"
			autocomplete="on"
			id="modifica-utente"
			method="post">
			<fieldset class="form-data">
				<legend class="sr-only">Modificare i tuoi dati</legend>
				<!-- [campiDati] -->
			</fieldset>
		</form>
	</div>
</section>
<script src="<!-- [prefix] -->/js/comuneSelect.js"></script>
