<section class="dati-profilo">
	<img
		alt="User Avatar"
		class=""
		src="<!-- [userAvatarPath] -->"
		width="90" />
	<div>
		<h2>
			<!-- [userNome] -->
			<!-- [userCognome] -->
		</h2>
		<p>@<!-- [userUsername] --></p>
		<p class="bold luogo"><!-- [userLuogo] --></p>
		<div class="user-rating">
			<div class="stars">
				<!-- [userRatingStars] -->
			</div>
			<p>(<!-- [userRating] -->)</p>
		</div>
	</div>
	<div class="buttons-profilo">
		<form action="/api/logout" method="POST">
			<input type="submit" class="button-layout" value="Esci" />
		</form>
	</div>
</section>
<section class="sezione-libri">
	<div class="intestazione">
		<h2>Generi preferiti</h2>
		<!-- TODO: maybe too cursed?? -->
		<a
			href="/profilo/<!-- [userUsername] -->/seleziona-generi"
			class="button-layout"
			>Modifica i generi</a
		>
	</div>
	<div class="generi">
		<!-- [userGeneri] -->
	</div>
</section>
<section class="sezione-libri">
	<div class="intestazione">
		<h2>Libri che offre</h2>
		<a href="/profilo/<!-- [userUsername] -->/libri-offerti" class="button-layout">Modifica la lista</a>
	</div>
	<div class="carosello-libri">
		<div class="libro">
			<img alt="" src="/assets/imgs/artedicorrere.avif" width="150" />
			<p class="titolo-libro">L'arte di correre</p>
			<p class="autore-libro">Haruki Murakami</p>
		</div>
	</div>
</section>
<section class="sezione-libri">
	<div class="intestazione">
		<h2>Lista dei desideri</h2>
		<a href="/profilo/<!-- [userUsername] -->/libri-desiderati" class="button-layout">Modifica la lista</a>
	</div>
	<!-- <p>Non ci sono ancora libri qui!</p>
	<a href="">Aggiungi subito un libro alla lista dei desideri</a> -->
</section>
<section id="storico-scambi">
	<div class="intestazione">
		<h2>Storico degli scambi</h2>
	</div>
</section>