<section class="dati-profilo">
	<img alt="User Avatar" class="" src="<!-- [userAvatarPath] -->" width="90" />
	<div>
		<h2><!-- [userNome] --> <!-- [userCognome] --></h2>
		<p>@<!-- [userUsername] --></p>
		<p class="bold"><!-- [userLuogo] --></p>
		<div class="user-rating">
			<p><!-- [userRating] --></p>
			<div class="stars">
				<!-- [userRatingStars] -->
			</div>
		</div>
	</div>
</section>
<section class="sezione-libri">
	<div class="intestazione">
		<h2>Libri che offri</h2>
		<button>Aggiungi un libro</button>
	</div>
	<div class="carosello-libri">
		<div class="libro">
			<img
				alt=""
				src="../assets/imgs/artedicorrere.png"
				width="150" />
			<p class="titolo-libro">L'arte di correre</p>
			<p class="autore-libro">Haruki Murakami</p>
		</div>
	</div>
</section>
<section class="sezione-libri">
	<div class="intestazione">
		<h2>Lista dei desideri</h2>
		<button>Aggiungi un libro</button>
	</div>
	<p>Non ci sono ancora libri qui!</p>
	<a href="">Aggiungi subito un libro alla lista dei desideri</a>
</section>
<section id="storico-scambi">
	<div class="intestazione">
		<h2>Storico degli scambi</h2>
	</div>
</section>
