<script src="../js/registratiValidator.js" type="module"></script>

<section class="signin center">
	<h1 class="center">Registrati</h1>
	<p class="center">
		Hai già un <span lang="en">account</span>? <a href="/accedi">Accedi</a>
	</p>
	<!-- nome cognome username email città(provincia e città)-->
	<form autocomplete="on" id="registrati" method="post" onsubmit="">
		<fieldset class="login-data">
			<!-- [error] -->
			<legend class="sr-only">Inserire i dati per registrarsi</legend>
			<div>
				<label for="nome">Nome</label>
				<input
						class="form-input"
						id="nome"
						name="nome"
						required
						type="text"/>
			</div>
			<div>
				<label for="cognome">Cognome</label>
				<input
						id="cognome"
						name="cognome"
						required
						type="text"/>
			</div>

			<!-- provincia e citta -->
			<div>
				<label for="provincia">Provincia</label>
				<select
						class="form-input"
						id="provincia"
						name="provincia"
						required>
						<option value="">Seleziona una provincia</option>
						<hr/>
						<!-- [province] -->
					</select>
				</div>
				<div>
					<label for="comune">Comune</label>
				<select class="form-input" id="comune" name="comune" required>
					<option value="">Seleziona un comune</option>
					<hr/>
				</select>
			</div>

			<!-- spans required to make validation work -->
			<!-- username -->
			<div>
				<label for="username" lang="en">Username</label>
				<input
						class="form-input"
						id="username"
						name="username"
						required
						type="text"/>
			</div>
			<!-- email -->
			<div>
				<label for="email">Indirizzo Mail</label>
				<input
						class="form-input"
						id="email"
						name="email"
						required
						type="email"/>
			</div>
			<!-- password -->
			<div>
				<label for="password" lang="en">Password</label>
				<input
						class="form-input"
						id="password"
						name="password"
						required
						type="password"/>
			</div>
			<!-- conferma password -->
			<div>
				<label for="conferma-password"
				>Conferma <span lang="en">Password</span></label
				>
				<input
						class="form-input"
						id="conferma-password"
						name="conferma-password"
						required
						type="password"/>
			</div>
			<input class="button-layout" type="submit" value="Registrati"/>
		</fieldset>
	</form>
</section>
<script src="../js/comuneSelect.js"></script>
