<div class="scegli-generi">
	<h2 class="center-text">Seleziona i generi che ti interessano</h2>
	<div class="generi-buttons center-text">
		<button onclick="resetButtons()" class="button-layout">
			Resetta le scelte
		</button>
	</div>
	<div class="lista-generi center">
		<!-- [opzioniGeneri] -->
	</div>
	<div class="center-text generi-buttons">
		<a href="/profilo" class="button-layout-light">Annulla</a><button onclick="submitGeneri()" class="button-layout">Conferma</button>
	</div>
	<script src="/js/generi.js"></script>
</div>
