<!DOCTYPE html>
<html data-theme="light" lang="it">
<head>
	<meta charset="UTF-8"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta content="<!-- [pageTitle] -->" name="title"/>
	<meta
			content="BookOverflow è un sito web che
		permette di scambiare libri con altri utenti"
			name="description"/>
	<meta content="libri, scambio, BookOverflow, unipd" name="keywords"/>
	<meta content="BookOverflowLib" name="author"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>

	<!-- favicon -->
	<link
			href="/assets/imgs/favicon/favicon-96x96.avif"
			rel="icon"
			sizes="96x96"
			type="image/avif"/>
	<link
			href="/assets/imgs/favicon/favicon.svg"
			rel="icon"
			type="image/svg+xml"/>
	<link href="/assets/imgs/favicon/favicon.ico" rel="shortcut icon"/>
	<link
			href="/assets/imgs/favicon/apple-touch-icon.avif"
			rel="apple-touch-icon"
			sizes="180x180"/>
	<meta content="BookOverflow" name="apple-mobile-web-app-title"/>
	<link href="/assets/imgs/favicon/site.webmanifest" rel="manifest"/>

	<link
			as="image"
			href="/assets/imgs/sun.svg"
			rel="preload"
			type="image/svg+xml"/>
	<link
			as="image"
			href="/assets/imgs/moon.svg"
			rel="preload"
			type="image/svg+xml"/>
	<!-- css -->
	<link href="/css/style.css" rel="stylesheet"/>
	<link
			href="/css/mobileStyle.css"
			media="screen and (max-width: 750px)"
			rel="stylesheet"/>
	<link href="/css/printStyle.css" media="print" rel="stylesheet"/>
	<!-- font -->
	<link href="https://fonts.googleapis.com" rel="preconnect"/>
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
	<link
			href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"/>
	<script src="/js/styler.js"></script>
	<title><!-- [pageTitle] --></title>
</head>

<body>
<a class="salta-al-contenuto" href="#contenuto">Salta al contenuto</a>
<!-- [header] -->

<div class="sr-only" id="breadcrumb-label">
	<span lang="en">breadcrumb</span>
</div>
<nav aria-labelledby="breadcrumb-label" id="breadcrumb">
	<!-- [breadcrumb] -->
</nav>

<main id="contenuto">
	<!-- [content] -->
</main>
<!-- [footer] -->
</body>
</html>
