<!DOCTYPE html>
<html data-theme="light" lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta
			content="BookOverflow è un sito web che permette di scambiare libri con altri utenti in Italia, trova subito il tuo prossimo scambio."
			name="description" />
		<meta
			content="scambio libri in Italia, libri, scambio, libri Italia, trova libri, BookOverflow"
			name="keywords" />
		<meta content="BookOverflowLib" name="author" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />

		<!-- favicon -->
		<link
			href="<!-- [prefix] -->/assets/imgs/favicon/favicon-96x96.avif"
			rel="icon"
			sizes="96x96"
			type="image/avif" />
		<link
			href="<!-- [prefix] -->/assets/imgs/favicon/favicon.svg"
			rel="icon"
			type="image/svg+xml" />
		<link
			href="<!-- [prefix] -->/assets/imgs/favicon/favicon.ico"
			rel="shortcut icon" />
		<link
			href="<!-- [prefix] -->/assets/imgs/favicon/apple-touch-icon.avif"
			rel="apple-touch-icon"
			sizes="180x180" />
		<meta content="BookOverflow" name="apple-mobile-web-app-title" />
		<link
			href="<!-- [prefix] -->/assets/imgs/favicon/site.webmanifest"
			rel="manifest" />

		<!-- preloading -->
		<link
			as="image"
			href="<!-- [prefix] -->/assets/imgs/sun.svg"
			rel="preload"
			type="image/svg+xml" />
		<link
			as="image"
			href="<!-- [prefix] -->/assets/imgs/moon.svg"
			rel="preload"
			type="image/svg+xml" />
		<link
			rel="preload"
			href="<!-- [prefix] -->/assets/GentiumBookPlus-BoldItalic.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous" />
		<link
			rel="preload"
			href="/assets/fonts/Onest.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous" />
		<!-- css -->
		<link href="<!-- [prefix] -->/css/style.css" rel="stylesheet" />
		<link
			href="<!-- [prefix] -->/css/mobileStyle.css"
			media="screen and (max-width: 750px)"
			rel="stylesheet" />
		<link
			href="<!-- [prefix] -->/css/printStyle.css"
			media="print"
			rel="stylesheet" />
		<!-- font -->
		<title><!-- [pageTitle] --></title>
	</head>

	<body>
		<script src="<!-- [prefix] -->/js/styler.js"></script>
		<a class="salta-al-contenuto" href="#contenuto">Salta al contenuto</a>
		<!-- [header] -->

		<div class="sr-only" id="breadcrumb-label">
			<span lang="en">breadcrumb</span>
		</div>
		<nav aria-labelledby="breadcrumb-label" id="breadcrumb">
			<!-- [breadcrumb] -->
		</nav>

		<main id="contenuto">
			<!-- [content] -->
		</main>
		<!-- [footer] -->
	</body>
</html>
