#menu {
	display: none;
}
.header .header-buttons {
	display: none;
}

.header-buttons {
	margin-inline: auto;
}
.header {
	grid-template-columns: 2fr 1fr;
}

#landing {
	grid-template-columns: 1fr;
}
#landing img {
	width: 80vw;
}
#landing > div > h1 {
	font-size: 3em;
}
#landing > div > p {
	font-size: 1.3em;
}

.carosello-libri {
	grid-template-columns: 1fr 1fr;
	margin-top: 2em;
}

.libro img {
	max-width: 7em;
}

#citazione {
	padding: 3em;
}
#citazione > blockquote {
	font-size: 1.5em;
}

#citazione > p {
	font-size: 1.3em;
}
footer {
	padding: 2em;
}
footer .logo p {
	font-size: 1.5em;
}
#unipd,
#nomi {
	font-size: 1em;
}
/* ACCEDI */
#accedi {
	padding-left: 2em;
	padding-right: 2em;
}

/* HAMBURGERINO:) */

#hamburger {
	display: inline-flex;
	padding: 1em;
	border-radius: 1em;
	justify-self: end;
}

#hamburger > span {
	display: none;
}

#hamburger > span.active {
	display: inline-flex;
    align-items: center;
    height: 100%;
	width: 100%;
}

.hamburger-icon {
	width: 2em;
	height: 2em;
	filter: var(--svg-invert);
}


#hamburger-menu {
	display: none;
	user-select: none;
}

#hamburger-menu.active {
	display: flex;
	flex-direction: column;
	height: fit-content;
	margin-top: 2em;
	gap: 2em;
	/* margin: 1em; */
}
#hamburger-menu.active ul {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: auto auto;
}
#hamburger-menu.active ul li {
	text-align: center;
}
#hamburger-menu.active ul li a {
	text-decoration: none;
	color: var(--text-color);
}
#hamburger-menu.active ul li a:hover {
	text-decoration: underline;
}
#hamburger-menu.active ul > * + * {
	margin-top: 1em;
}


/* come funziona */
#come-funziona > div > div {
	display: flex;
	flex-direction: column;
}
#come-funziona>div>h1 {
	font-size: 2em;
}

#come-funziona h1, #come-funziona p {
justify-self: center;
}
#come-funziona>div>div>p{
	margin:0;
	padding:1.5em;
	font-size: 1.2em;
}

#come-funziona>div>div>img {
	border-radius: 1em;
	width: 22vw;
	max-width: 23em;
	overflow: hidden;
	mask-image: url('/assets/imgs/blob-mask3.svg');
	justify-self: center;
	padding-bottom: 0;
	margin-right: 2em;
}
#perche-farlo>div>div {
	display: grid;
	grid-template-columns: 1fr;
	gap:2em;
		padding: 0em;
}
#perche-farlo>div>h2 {
	font-size: 1.8em;
	
}
#step>div>div {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	padding:0em;
	margin: 2em;
}
#step>div>h2 {
	font-size: 1.8em;
}
#inizia>h3 {
	font-size: 1.5em;

}
/* 
@keyframes slide-in-top {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.slide-in-top {
	animation: slide-in-top 0.5s ease-in-out both;
} 
*/
