body {
	display: flex;
	flex-direction: column;
	min-height: fit-content;
}
#breadcrumb {
	margin-inline: auto;
}
/* HEADER */
#menu {
	display: none;
}
#hamburger-menu {
	display: none;
}
.header-buttons {
	display: none;
}
/* FOOTER */

/* INDEX */
#landing a {
	text-decoration: underline;
	color: var(--link-color);
}
#landing > div > h1 {
	font-size: 3em;
}
#landing > div > p {
	font-size: 1.2em;
}

#piu-scambiati {
	margin-top: 4em;
	margin-bottom: 4em;
}
#citazione {
	margin-top: 4em;
	margin-bottom: 4em;
}

/* LOGIN */
input#email,
input#password {
	border: 1px solid black;
}
.login {
	margin-bottom: 6em;
}

/* REGISTRATI */
.signin {
	max-width: 25em;
	gap: 0;
	padding: 0.5em 1em;
	margin-bottom: 5em;
	margin-top: 0;
}
input#nome.form-input,
input#cognome,
select#provincia.form-input,
select#comune.form-input,
input#username,
input#conferma-password {
	border: 1px solid black;
}

/* ESPLORA */

.sezione-libri {
	padding: 0.5em;
	margin-bottom: 0;
}

#piu-scambiati {
	padding: 0.5em;
	gap: 0.5em;
}
.libro > img {
	border-radius: 0.5em;
	max-width: 6em;
}

.titolo-libro {
	font-weight: small;
	margin-top: 1em;
	margin-bottom: 0em;
}

/* COME FUNZIONA */
#come-funziona > div > div > img {
	max-width: 10em;
	border-radius: 5em;
}
#come-funziona {
	/* FASCIA */
	background: var(--light-gray);
}
#come-funziona > div > div > p {
	font-size: 1em;
}

#perche-farlo > div {
	margin-top: 0;
	padding: 1em;
}

a.button-layout {
	border: 1px solid black;
}
