:root {
	--background: #fff;
	--text-color: #000;
	--colored-background: rgba(255, 236, 194, 0.8);
	--primary-color: #f7e4c0;
	--hover-color: #f0d18f;
	--dark-yellow-color: #74520a;
	--gray: hsl(0, 0%, 93%);
	/* --dark-gray: hsl(0, 0%, 70%); */
	--light-gray: hsl(0, 0%, 94%);

	/* PALETTE */
	--light-yellow: #fefae0ff;
	--light-green: #ccd5aeff;
	--light-orange: #d4a373ff;
	--slate-gray: #6f8695ff;
	--dark-rose: #ab4e68ff;

	--background: #fffaeeff;
	--background: #fbf9f5ff;
	--background: #fcf7efff;

	--dark-gray: var(--slate-gray);
	--colored-background: var(--light-yellow);
	--hover-color: var(--light-orange);
}

[data-theme='light'] {
	--svg-invert: invert(0);
	--text: #18140c;
	--text-error: #ab4e68;
	--background: #f8f6f1;
	--primary: #655024;
	--secondary: #ccd5ae;
	--accent: #d4a373;

	/* --neutral-50: #fafaf9;
		--neutral-100: #f5f5f4; */
	--neutral-50: #e7e5e4;
	--neutral-100: #d6d3d1;
	--neutral-200: #a8a29e;
	--neutral-300: #78716c;
	--neutral-400: #57534e;
	--neutral-500: #44403c;
	--neutral-600: #292524;
	--neutral-700: #1c1917;

	--text-50: #fbf5e9;
	--text-100: #f8ebd3;
	--text-200: #f1d7a7;
	--text-300: #eac37b;
	--text-400: #e2af50;
	--text-500: #db9b24;
	--text-600: #af7c1d;
	--text-700: #845d15;
	--text-800: #583e0e;
	--text-900: #2c1f07;
	--text-950: #161004;

	--background-50: #fbf4ea;
	--background-100: #f7ead4;
	--background-200: #efd4a9;
	--background-300: #e7bf7e;
	--background-400: #dea954;
	--background-500: #d69429;
	--background-600: #ab7621;
	--background-700: #815918;
	--background-800: #563b10;
	--background-900: #2b1e08;
	--background-950: #150f04;

	--primary-50: #fcf5e8;
	--primary-100: #f9ebd2;
	--primary-200: #f3d8a5;
	--primary-300: #edc478;
	--primary-400: #e8b14a;
	--primary-500: #e29d1d;
	--primary-600: #b57e17;
	--primary-700: #875e12;
	--primary-800: #5a3f0c;
	--primary-900: #2d1f06;
	--primary-950: #171003;

	--secondary-50: #f4f6ee;
	--secondary-100: #eaeedd;
	--secondary-200: #d5dcbc;
	--secondary-300: #c0cb9a;
	--secondary-400: #aaba78;
	--secondary-500: #95a857;
	--secondary-600: #778745;
	--secondary-700: #5a6534;
	--secondary-800: #3c4323;
	--secondary-900: #1e2211;
	--secondary-950: #0f1109;

	--accent-50: #f9f2eb;
	--accent-100: #f3e6d8;
	--accent-200: #e7ccb1;
	--accent-300: #dbb38a;
	--accent-400: #cf9963;
	--accent-500: #c3803c;
	--accent-600: #9c6630;
	--accent-700: #754d24;
	--accent-800: #4e3318;
	--accent-900: #271a0c;
	--accent-950: #140d06;
}

[data-theme='dark'] {
	--svg-invert: invert(1);
	--text: #f3efe6;
	--text-error: #ab4e68;
	--background: #0f0c07;
	--primary: #dbc69b;
	--secondary: #48512a;
	--accent: #8c5c2b;

	--neutral-900: #fafaf9;
	--neutral-800: #f5f5f4;
	--neutral-700: #e7e5e4;
	--neutral-600: #d6d3d1;
	--neutral-500: #a8a29e;
	--neutral-400: #78716c;
	--neutral-300: #57534e;
	--neutral-200: #44403c;
	--neutral-100: #292524;
	--neutral-50: #1c1917;

	--text-50: #110f08;
	--text-100: #221d11;
	--text-200: #453a21;
	--text-300: #675732;
	--text-400: #8a7442;
	--text-500: #ac9153;
	--text-600: #bda775;
	--text-700: #cdbd98;
	--text-800: #ded3ba;
	--text-900: #eee9dd;
	--text-950: #f7f4ee;

	--background-50: #110e08;
	--background-100: #231c10;
	--background-200: #453821;
	--background-300: #685431;
	--background-400: #8b7041;
	--background-500: #ad8c52;
	--background-600: #bea374;
	--background-700: #ceba97;
	--background-800: #ded1ba;
	--background-900: #efe8dc;
	--background-950: #f7f3ee;

	--primary-50: #130f07;
	--primary-100: #251d0e;
	--primary-200: #4b3b1b;
	--primary-300: #705829;
	--primary-400: #967636;
	--primary-500: #bb9344;
	--primary-600: #c9a969;
	--primary-700: #d6be8f;
	--primary-800: #e4d4b4;
	--primary-900: #f1e9da;
	--primary-950: #f8f4ec;

	--secondary-50: #0f1109;
	--secondary-100: #1e2211;
	--secondary-200: #3c4323;
	--secondary-300: #5a6534;
	--secondary-400: #778745;
	--secondary-500: #95a857;
	--secondary-600: #aaba78;
	--secondary-700: #c0cb9a;
	--secondary-800: #d5dcbc;
	--secondary-900: #eaeedd;
	--secondary-950: #f4f6ee;

	--accent-50: #140d06;
	--accent-100: #271a0c;
	--accent-200: #4e3318;
	--accent-300: #754d24;
	--accent-400: #9c6630;
	--accent-500: #c3803c;
	--accent-600: #cf9963;
	--accent-700: #dbb38a;
	--accent-800: #e7ccb1;
	--accent-900: #f3e6d8;
	--accent-950: #f9f2eb;
}

/* @media (prefers-color-scheme: light) {
	:root {
		--text: #18140c;
		--background: #f8f6f1;
		--primary: #655024;
		--secondary: #ccd5ae;
		--accent: #d4a373;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #f3efe6;
		--background: #0f0c07;
		--primary: #dbc69b;
		--secondary: #48512a;
		--accent: #8c5c2b;
	}
} */

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--font-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
		--font-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
		--font-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
		--font-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
		--font-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
		--font-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
		--font-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
	}
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--font-sm: 0.8rem;
		--font-base: 1rem;
		--font-md: 1.25rem;
		--font-lg: 1.56rem;
		--font-xl: 1.95rem;
		--font-xxl: 2.44rem;
		--font-xxxl: 3.05rem;
	}
	@media screen and (min-width: 1280px) {
		:root {
			--font-sm: 0.89rem;
			--font-base: 1.19rem;
			--font-md: 1.58rem;
			--font-lg: 2.11rem;
			--font-xl: 2.81rem;
			--font-xxl: 3.75rem;
			--font-xxxl: 5rem;
		}
	}
}

@media (prefers-reduced-motion) {
	/* TODO: togliere animazioni? */
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Inter', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	scroll-behavior: smooth;
	scroll-padding-top: 5em;
}

body {
	background-color: var(--background);
	color: var(--text);
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100vh;
}

button {
	font-family: 'Inter', sans-serif;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button-layout {
	border: none;
	border-radius: 1em;
	padding: 1em;
	background: var(--primary-200);
	color: var(--text);
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button-layout:hover {
	background: var(--primary-300);
}

/* LOGO */
.logo {
	font-family: 'Gentium Book Plus', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.logo > h1 {
	font-size: var(--font-md);
}

.logo > p {
	font-size: var(--font-base);
}

/* HEADER */
header {
	top: 0;
	position: sticky;
	z-index: 999;
	padding: 1em;
}

.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 0;
	align-items: center;
	justify-content: space-between;
	justify-items: center;
}

.header-container {
	padding: 1em;
	gap: 2em;
	margin-inline: auto;
	max-width: 66em;
	transition: all 0.3s ease-in-out;
}

.header-container.activeHeader {
	border-radius: 1em;
	background-color: var(--background-100);
	backdrop-filter: blur(80px);
}

.header .logo {
	justify-self: start;
}

.header > .button-layout {
	justify-self: end;
}

/* MENU */
#menu ul {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	list-style-type: none;
}

#menu > ul > li > a {
	text-decoration: none;
	color: var(--text);
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: -2em;
	margin-bottom: -2em;
}

#menu > ul > li > a:hover {
	text-decoration: underline;
}

#breadcrumb {
	justify-self: center;
	text-align: center;
	background-color: var(--neutral-100);
	border-radius: 1em;
	font-size: var(--font-sm);
}

#breadcrumb > p {
	padding: 0.5em;
	margin: 0 5em;
}

#breadcrumb a {
	color: var(--text);
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
	font-weight: 300;
}

.autore-libro {
	font-style: italic;
	font-size: var(--font-sm);
}

footer {
	background-color: var(--background-200);
	padding: 2em;
}

/*TEMP PADDING*/
footer > .logo {
	padding-top: 10em;
}

#unipd,
#nomi {
	text-align: center;
	font-size: small;
	padding-top: 1em;
}

.underline {
	text-decoration: underline;
}

main {
	margin-top: 1em;
}

#landing {
	display: grid;
	grid-template-columns: 2fr auto;
	padding: 2em;
	max-width: 60em;
	margin: auto;
	gap: 2em;
	align-items: center;
	justify-items: center;
}

#landing > div > h1 {
	font-size: 4em;
	font-family: 'Gentium Book Plus', serif;
	font-style: italic;
	line-height: 1.1em;
}

#landing > div > p {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

#landing > img {
	border-radius: 1em;
	/* min-width: 10em; */
	width: 35vw;
	max-width: 38em;
	overflow: hidden;
	mask-image: url('/assets/imgs/blob-mask2.svg');
}

.sezione-libri {
	padding: 2em;
	max-width: 55em;
	margin: auto;
}

#piu-scambiati {
	background-color: var(--background-200);
	padding: 2em;
	gap: 2em;
}

.carosello-libri {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2.5em;
	margin-top: 1em;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
}

.libro > img {
	border-radius: 0.5em;
	max-width: 11em;
	aspect-ratio: 1/1.5;
	object-fit: cover;
}

.titolo-libro {
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#citazione {
	/* padding-top: 5em;
    padding-bottom: 5em; */
	padding: 5em;
	max-width: 30em;
	margin: auto;
}

#citazione > blockquote {
	font-style: italic;
	font-size: 2em;
}

#citazione > blockquote::before {
	content: url('/assets/imgs/quote.svg');
}

#citazione > blockquote ::after {
	content: '”';
}

#citazione > p {
	font-size: 1.5em;
	text-align: right;
}

.serif {
	font-family: 'Gentium Book Plus', serif;
}

.intestazione {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
}

.small {
	font-size: small;
}

/* PROFILO */
.dati-profilo {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: start;
	align-items: center;
	max-width: 55em;
	gap: 2em;
	margin: auto;
	padding: 2em;
}

.dati-profilo > img {
	width: 100%;
	max-width: 10em;
	border-radius: 50%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.dati-profilo > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.user-rating {
	display: flex;
	align-items: baseline;
	gap: 0.5em;
}

.stars {
	user-select: none;
	gap: 0.5em;
}

/* LOGIN */
.login {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-width: 15em;
	max-width: 20em;
	gap: 1em;
	border: 1px solid var(--neutral-100);
	border-radius: 1em;
	padding: 1.5em 2em;
	margin-bottom: 20em;
	margin-top: 3em;
}

.login,
.signin input:focus {
	/* border: 3px solid black; */
	outline-color: var(--neutral-50);
}

/* SIGNIN */
.signin {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 30em;
	gap: 1em;
	border: 1px solid var(--neutral-100);
	border-radius: 1em;
	padding: 1.5em 2em;
	margin-bottom: 20em;
	margin-top: 3em;
}

fieldset {
	border: none;
}

.login-data {
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.login-data > button {
	margin-left: 50%;
}

.input-error-regular {
    color: var(--text-error);
    text-align: center;
	margin: 0.625em 0;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	background-color: var(--neutral-50);
	min-height: 3em;
	border-radius: 0.5em;
	border-style: none;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: var(--text);
}

select {
	background-color: var(--neutral-50);
	color: var(--text);
	min-height: 3em;
	border-radius: 0.5em;
	border-style: none;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

section > p > a {
	color: var(--text);
}

.doppio-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.doppio-input > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.sr-only,
.salta-al-contenuto {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border-width: 0;
	clip-path: rect(0, 0, 0, 0);
}

.salta-al-contenuto:focus {
	z-index: 1000;
	clip-path: auto;
	margin: 0.5em;
	box-sizing: border-box;
	padding: 1em;
	width: auto;
	height: auto;
	border-radius: 1em;
	background-color: var(--background);
}

.libro-panoramica {
	max-width: 55em;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
	justify-items: start;
}

.sezione-scambi {
}

/* MATCH PER TE */
.titolo {
	margin: 0.5em 0;
}

#matchperte {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	padding: 1em 2em;
	justify-content: center;
	margin: 2em 5em;
	margin-top: 0;
}

.match-copertine {
	flex: 1 1 calc(25% - 2em);
	max-width: calc(25% - 2em);
	box-sizing: border-box;
	margin-top: 1em;
}

#matchperte img {
	max-width: 20rem;
	max-height: 17rem;
	border-radius: 0.3em;
	object-fit: cover;
}

.titolo-libro-match {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.3em;
}

#mostra-ancora {
	color: var(--text);
}

#mostra-ancora:hover {
	color: var(--dark-gray);
}

.mostra-ancora {
	padding: 3em 0;
	margin-bottom: 2em;
}

li.activePage {
	font-weight: 600;
}

.user-rating {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.luogo::before {
	content: '📍';
	margin-right: 0.5em;
}

#results {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.hidden {
	display: none;
}

.hamburger {
	display: none;
}
#hamburger-menu {
	display: none;
	height: 0;
}

.input-error {
	color: var(--text-error);
	font-size: small;
}
.input-hint {
	font-size: small;
}

.login-data > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.scegli-generi {
	max-width: 60em;
	margin: auto;
}
.button-genere {
	font-family: 'Inter', sans-serif;
	border: 2px solid var(--primary-200);
	border-radius: 9999px;
	padding: 0.5em 1em;
	font-size: 1em;
	color: var(--text)
}
.button-pressed {
	background-color: var(--background-300);
}
.lista-generi {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	max-width: 40em;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}
/* come funziona */

#come-funziona {
	background: var(--background-200);
}
#come-funziona > div {
	max-width: 60em;
	margin-inline: auto;
}

#come-funziona > div > div {
	grid-template-columns: 1.8fr 2fr;
	display: grid;
	margin: auto;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

#come-funziona > div > h1 {
	font-size: 3em;
	font-family: 'Gentium Book Plus', serif;
	font-style: italic;
}

#come-funziona > div > div > p {
	font-size: 1.3em;
	font-family: 'Gentium Book Plus', serif;
	margin-bottom: 1.5em;
	padding-left: 3em;
	padding-top: 1em;
	text-align: center;
}

#come-funziona > div > div > img {
	border-radius: 1em;
	width: 22vw;
	max-width: 23em;
	overflow: hidden;
	mask-image: url('/assets/imgs/blob-mask3.svg');
	justify-self: end;
	padding-bottom: 0;
	margin-right: 2em;
}

#perche-farlo > div {
	max-width: 60em;
	margin-inline: auto;
}

#perche-farlo > div > h2 {
	margin-top: 1em;
	font-size: 2.5em;
	font-family: 'Gentium Book Plus', serif;
	font-style: italic;
	justify-self: center;
}

#perche-farlo > div > div {
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding-left: 1em;
	margin: 2em;
	gap: 4em;
}

.motivo1,
.motivo2 {
	font-size: 1.7em;
	font-family: 'Gentium Book Plus', serif;
	justify-self: center;
}

.motivo1::before,
.motivo1::after {
	content: '💰';
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.motivo2::before,
.motivo2::after {
	content: '🌱';
	margin-right: 0.5em;
	margin-left: 0.5em;
}

#perche-farlo p {
	font-size: 1.2em;
	margin-bottom: 1.5em;
	justify-self: center;
	font-family: 'Gentium Book Plus', serif;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	margin-top: 1em;
}

#step {
background: var(--background-200)
}

#step > div {
	max-width: 60em;
	margin-inline: auto;
}

#step > div > h2 {
	padding-top: 1em;
	font-size: 2.5em;
	font-family: 'Gentium Book Plus', serif;
	font-style: italic;
	justify-self: center;
}

#step > div > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2em;
	padding-left: 1em;
	margin: 2em;
}

#step h3 {
	font-size: 2em;
	font-family: 'American Typewriter', serif;
	justify-self: center;
	color: var(--text-700);
}

#step > div p {
	font-size: 1.2em;
	margin-bottom: 1.5em;
	justify-self: center;
	font-family: 'Gentium Book Plus', serif;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	margin-top: 1em;
}
#inizia {
	margin-bottom: 5em;
}

#inizia > h3 {
	text-align: center;
	font-size: 2em;
	font-family: 'Gentium Book Plus', serif;
	font-style: italic;
	justify-self: center;
	margin-bottom: 1em;
}

#inizia > a {
	font-size: 1.3em;
	font-family: 'Gentium Book Plus', serif;
	justify-self: center;
	display: flex;
	justify-content: center;
	padding: 1em;
}
