:root {
	--primary-color: #f7e6c0;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	min-height: 100vh;
}
.logo > h1 {
	font-size: x-large;
}
.logo > p {
	font-size: large;
}
.logo {
	font-family: 'Gentium Book Plus', serif;
	display: flex; 
	justify-content: center;
	align-items: center;
	gap: 1em;
}

#menu ul {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	list-style-type: none;
}

#menu > ul > li > a {
	text-decoration: none;
	color: black;
}
#menu > ul > li > a:hover {
	text-decoration: underline;
}

header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	gap: 2em;
	padding: 1em;
}
header .logo {
	justify-self: start;
}
header > button {
	justify-self: end;
}

button {
	padding: 1em 2em;
	border: 0;
	border-radius: 0.75rem;
	background-color: var(--primary-color);
}

#breadcrumb {
	justify-self: center;
	text-align: center;
	background-color: #ededed;
	border-radius: 1em;
}

#breadcrumb > p {
	padding: 0.5em;
	margin: 0 5em;
	font-size: small;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
	font-weight: 300;
}

.autore-libro {
	font-style: italic;
	font-size: 0.9em;
}

footer {
	background-color: var(--primary-color);
	padding: 2em;
}

/*TEMP PADDING*/
footer > .logo {
	padding-top: 10em;
}

#unipd,
#nomi {
	text-align: center;
	font-size: small;
	padding-top: 1em;
}

.underline {
	text-decoration: underline;
}

main {
	margin-top: 1em;
}

#landing {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5em;
	max-width: 70em;
	margin: auto;
}

#landing > div > h1 {
	font-size: 4em;
	font-family: 'Gentium Book Plus', serif;
	font-style: italic;
	line-height: 1.2em;
}

#landing > div > p {
	margin-top: 1em;
	margin-bottom: 1em;
}
